{
"GOOGLE_API_KEY": "<PUT GOOGLE API KEY HERE>",
"OPENWEATHER_API_KEY": "<PUT OPENWEATHER API KEY HERE>",
"HOME_LOCATION": "<PUT HOME/START ADDRESS HERE>",
"WORK_LOCATION": "<PUT WORK/DESTINATION ADDRESS HERE>"
}
