body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 180%;
    overflow: hidden;
}
.container {
    display: flex;
    height: 100vh;
}


#map {
    flex: 2;
}


@media screen and (max-device-height: 801px) {
  #map {
    flex: 2;
  }

}

.datetime {
    margin: -2.9%;
    font-size: 115%;
}

.LocTitle {
    margin: 0px;
}

.LocWDeets {
    margin: 0px;
    font-size: 100%;
}

.info {
    flex: 2;
/*    display: flex;*/
/*    height: 97.5%; */
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
/*    background: #f4f4f4;
    background: 3a3b3c; */
/*    background: #97bde3; */
    background: #6b7e91;
/*    overflow-y: auto; */
    overflow: hidden;
}

.buttondiv {
    margin-top: 8%;
    margin-bottom: 20%;
    text-align: center;
}

.buttonitself {
    padding: 8px 16px;
    font-size: 150%;
/*    background-color: #4285F4; */
    background-color: #a5bed7;
/*    color: white; */
    border: solid;
    border-radius: 8px;
    cursor: pointer;
}

button {
/*    margin-top: 20px;
    padding: 10px;
    font-size: 13px;
    background: #a5bed7;
*/
}

/*.weather-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 1em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.weather-table th, .weather-table td {
  border: 1px solid #ccc;
  padding: 1.25%;
  text-align: center;
  vertical-align: top;
} */

.weather-table th {
  background-color: #f4f4f4;
  font-weight: 600;
}

/*.weather-table tr:hover {
  background-color: #f9f9f9;
}*/
/*
.weather-table img {
  display: block;
  margin: 0 auto 0.5%;
}*/

.weather-table {
  width: 100%;
/*  table-layout: fixed; */
  border-collapse: collapse;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.05em;
}

.weather-table th, .weather-table td {
  border: 1px solid #ccc;
  padding: 1%;
  text-align: center;
  vertical-align: top;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.weather-table img {
  max-width: 36px;
  height: auto;
  margin-bottom: 4px;
}

